<%= stylesheet_link_tag 'style', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= render 'shared/navbar' %>
<div class="flex flex-col space-y-3 justify-center">
    <div class="flex flex-col justify-center items-center px-20 py-10 space-y-4 bg-black text-white w-full">
        <h1 class="font-bold text-4xl">Hackintosh</h1>
        <h5 class="front-semibold text-xl">Como funciona?</h5>
        <p>
            Hackintosh é um computador comum rodando Mac OS X
            Mas para isso acontecer fazemos uma combinação de componentes específicos, caso contrário a máquina pode ter instabilidade ou até mesmo não funcionar, por isso vendemos a máquina pronta já, que é só ligar e lá dentro terá só os melhores componentes.
        </p>
    </div>
    <div class="flex flex-col justify-center items-center px-20 py-10 space-y-4 bg-black text-white w-full">
        <h1 class="font-bold text-4xl">Confira as nossas especialidades</h1>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 ">
            <div class="flex flex-col items-center hover:scale-105 bg-white bg-opacity-20 transition duration-300 rounded-lg p-2">
                <div class="w-44">
                    <%= image_tag 'imac.png' %>
                </div>
                <div class="flex flex-col items-center">
                    <h2 class="font-bold text-xl">Hackintosh Intel</h2>
                    <p>Computadores com processador Intel e sistema da Apple MacOS x</p>
                </div>
            </div>
            <div class="flex flex-col items-center hover:scale-105 bg-white bg-opacity-20 transition duration-300 rounded-lg p-2">
                <div class="w-44">
                    <%= image_tag 'imac.png' %>
                </div>
                <div class="flex flex-col items-center">
                    <h2 class="font-bold text-xl">Hackintosh Ryzen</h2>
                    <p>Computadores com processador Ryzen e sistema da Apple MacOS x</p>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-col justify-center items-center px-20 py-10 space-y-8 w-full">
        <h1 class="font-bold text-4xl">Qual é a máquina ideal para você ?</h1>
        <div class="flex justify-center space-x-4 w-full">
            <div>
                <span>Engenharia</span>
                <div class="w-full h-1 rounded-lg bg-gray-300"></div>                
            </div>
            <div>
                <span>Edição de vídeos</span>
                <div class="w-full h-1 rounded-lg bg-gray-300"></div>                
            </div>
            <div>
                <span>Programação</span>
                <div class="w-full h-1 rounded-lg bg-gray-300"></div>                
            </div>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-4 gap-6 w-full">
            <div class="flex flex-col items-center hover:scale-105 bg-white bg-opacity-20 transition duration-300 rounded-lg p-2">
                <div class="w-32">
                    <%= image_tag 'imac.png' %>
                </div>
                <div class="flex flex-col items-center space-y-3">
                    <h2 class="font-bold text-xl">Hackintosh Ryzen</h2>
                    <p>Computadores com processador Ryzen e sistema da Apple MacOS x</p>
                    <button class="p-1 bg-sky-700 rounded-lg text-white font-semibold">Comprar</button>
                    <div>
                        <span class="text-sky-700 font-semibold">Especificações ></span>
                    </div>
                </div>
            </div>
            <div class="flex flex-col items-center hover:scale-105 bg-white bg-opacity-20 transition duration-300 rounded-lg p-2">
                <div class="w-32">
                    <%= image_tag 'imac.png' %>
                </div>
                <div class="flex flex-col items-center space-y-3">
                    <h2 class="font-bold text-xl">Hackintosh Ryzen</h2>
                    <p>Computadores com processador Ryzen e sistema da Apple MacOS x</p>
                    <button class="p-1 bg-sky-700 rounded-lg text-white font-semibold">Comprar</button>
                    <div>
                        <span class="text-sky-700 font-semibold">Especificações ></span>
                    </div>
                </div>
            </div>
            <div class="flex flex-col items-center hover:scale-105 bg-white bg-opacity-20 transition duration-300 rounded-lg p-2">
                <div class="w-32">
                    <%= image_tag 'imac.png' %>
                </div>
                <div class="flex flex-col items-center space-y-3">
                    <h2 class="font-bold text-xl">Hackintosh Ryzen</h2>
                    <p>Computadores com processador Ryzen e sistema da Apple MacOS x</p>
                    <button class="p-1 bg-sky-700 rounded-lg text-white font-semibold">Comprar</button>
                    <div>
                        <span class="text-sky-700 font-semibold">Especificações ></span>
                    </div>
                </div>
            </div>
            <div class="flex flex-col items-center hover:scale-105 bg-white bg-opacity-20 transition duration-300 rounded-lg p-2">
                <div class="w-32">
                    <%= image_tag 'imac.png' %>
                </div>
                <div class="flex flex-col items-center space-y-3">
                    <h2 class="font-bold text-xl">Hackintosh Ryzen</h2>
                    <p>Computadores com processador Ryzen e sistema da Apple MacOS x</p>
                    <button class="p-1 bg-sky-700 rounded-lg text-white font-semibold">Comprar</button>
                    <div>
                        <span class="text-sky-700 font-semibold">Especificações ></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-col justify-center items-center px-64 py-10 space-y-4 w-full">
        <h1 class="font-bold text-4xl">O que faz do Hackintosh uma opção viável ?</h1>        
        <p>
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
        </p>
        <p>
            The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
        </p>
    </div>
</div>