<%= stylesheet_link_tag 'style', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= render 'shared/navbar' %>
<div class="flex flex-col space-y-3 justify-center">
    <div class="flex flex-col justify-center items-center px-20 py-10 space-y-4 bg-black text-white w-full">
        <h1 class="font-bold text-4xl">Hackintosh</h1>
        <h5 class="front-semibold text-xl">Como funciona?</h5>
        <p>
            Hackintosh é um computador comum rodando Mac OS X
            Mas para isso acontecer fazemos uma combinação de componentes específicos, caso contrário a máquina pode ter instabilidade ou até mesmo não funcionar, por isso vendemos a máquina pronta já, que é só ligar e lá dentro terá só os melhores componentes.
        </p>
    </div>
    <div class="flex flex-col justify-center items-center px-20 py-10 space-y-4 bg-black text-white w-full">
        <h1 class="font-bold text-4xl">Confira as nossas especialidades</h1>
        <div class="grid grid-cols-1 gap-6 ">
            <div class="flex flex-col items-center hover:scale-105 bg-white bg-opacity-20 transition duration-300 rounded-lg p-2">
                <div class="w-44">
                    <%= image_tag 'imac.png' %>
                </div>
                <div class="flex flex-col items-center">
                    <h2 class="font-bold text-xl">Hackintosh Intel</h2>
                    <p>Computadores com processador Intel e sistema da Apple MacOS x</p>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-col justify-center items-center px-20 py-10 space-y-8 w-full">
        <h1 class="font-bold text-4xl">Qual é a máquina ideal para você ?</h1>
        <div class="grid grid-cols-1 lg:grid-cols-4 gap-6 w-full">
            <div class="flex flex-col items-center hover:scale-105 bg-white bg-opacity-20 transition duration-300 rounded-lg p-2">
                <div class="flex justify-center w-32 text-4xl">
                    <%= icon('fa-solid', 'film') %>
                </div>
                <div class="flex flex-col items-center space-y-3">
                    <h2 class="font-bold text-xl">Edição de vídeo</h2>
                    <p>O melhor computador para edição de vídeo</p>
                    <button class="p-1 bg-sky-700 rounded-lg text-white font-semibold">Saiba mais</button>                   
                </div>
            </div>
            <div class="flex flex-col items-center hover:scale-105 bg-white bg-opacity-20 transition duration-300 rounded-lg p-2">
              <div class="flex justify-center w-32 text-4xl">
                <%= icon('fa-solid', 'cube') %>
              </div>
              <div class="flex flex-col items-center space-y-3">
                <h2 class="font-bold text-xl">Animação 3D</h2>
                <p>O melhor computador para animação 3d</p>
                <button class="p-1 bg-sky-700 rounded-lg text-white font-semibold">Saiba mais</button>
              </div>
            </div>
            <div class="flex flex-col items-center hover:scale-105 bg-white bg-opacity-20 transition duration-300 rounded-lg p-2">
              <div class="flex justify-center w-32 text-4xl">
                <%= icon('fa-solid', 'code') %>
              </div>
              <div class="flex flex-col items-center space-y-3">
                <h2 class="font-bold text-xl">Desenvolvimento</h2>
                <p>O melhor computador para desenvolver apps IOS e android</p>
                <button class="p-1 bg-sky-700 rounded-lg text-white font-semibold">Saiba mais</button>
              </div>
            </div>
            <div class="flex flex-col items-center hover:scale-105 bg-white bg-opacity-20 transition duration-300 rounded-lg p-2">
              <div class="flex justify-center w-32 text-4xl">
                <%= icon('fa-solid', 'volume-high') %>
              </div>
              <div class="flex flex-col items-center space-y-3">
                <h2 class="font-bold text-xl">Edição de audio</h2>
                <p>Computador para DJ e editor de audio</p>
                <button class="p-1 bg-sky-700 rounded-lg text-white font-semibold">Saiba mais</button>
              </div>
            </div>
        </div>
    </div>
    <div class="flex flex-col justify-center items-center px-64 py-10 space-y-4 w-full">
      <h1 class="font-bold text-4xl">O que faz do Hackintosh uma opção viável ?</h1>
      <p>
        Uma das razões pelas quais o Hackintosh pode ser atraente é a possibilidade de construir um sistema macOS mais econômico em comparação com os produtos Apple. Isso ocorre porque você pode escolher é possível ter uma maior variedade de hardware.
      </p>
      <p>
        Ao construir um Hackintosh, você tem mais controle sobre os componentes de hardware que deseja utilizar. Isso permite escolher especificações que atendam às suas necessidades e personalizar o sistema de acordo com suas preferências.
      </p>
    </div>
</div>